div.container {
    width: 100%;
    border: 1px solid gray;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: gray;
    clear: left;
    text-align: center;
}
h2{
  font-family: cursive;
}
nav {
    float: left;
    width: 200px;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.colform {
  float: left;
  width: 350px;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    margin-top: 5px;
}
