.colform {
  float: left;
  width: 350px;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    margin-top: 5px;
}

h2{
  font-family:cursive;
}
label {
    font-size: 15px;
}

input[type=submit] {
    width: 19em;  height: 2em;
}

select{
    margin-top: 5px;
    width: 19em;  height: 2em;
}
.input_longbox{
  width: 18.5em;
  height: 80px;
}
